<!DOCTYPE html>
<html lang="es-mx">
  <head>
    <title>Mapa</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css"
    />
    <link
      href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        background-color: rgba(85, 70, 85, 0.067);
      }

      .data-container {
        max-height: calc(100% - 56px);
        overflow-y: auto;
      }
      .map-iframe {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg fixed-top bg-body-tertiary"
      data-bs-theme="dark"
    >
      <div class="container-fluid">
        <button
          class="btn btn-outline-info btn-small"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasMenu"
          aria-controls="offcanvasMenu"
        >
          DATA
        </button>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/"
                >Eventos</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/historico"
                >Histórico</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/heatmap"
                >Heatmap</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- OFFCANVAS -->
    <div
      class="offcanvas offcanvas-start"
      tabindex="-1"
      id="offcanvasMenu"
      aria-labelledby="offcanvasMenuLabel"
    >
      <div class="offcanvas-header">
        <div class="container-fluid p-1">
          <input
            type="text"
            class="form-control"
            id="datepicker"
            data-date-end-date="0d"
          />
        </div>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <div id="tableWrapper"></div>
      </div>
    </div>

    <!-- MAP CONTAINER -->
    <div class="map-iframe" id="map-iframe"></div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
      integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script type="text/javascript">
      function getMagColor(cell) {
        let magColor = "#fff";
        if (cell < 3.0) {
          magColor = "#62ab5d";
        } else if (cell < 4.0) {
          magColor = "#ffc304";
        } else if (cell < 5.0) {
          magColor = "#f79b3f";
        } else if (cell < 6.0) {
          magColor = "#ea5354";
        } else if (cell < 7.0) {
          magColor = "#a85164";
        } else if (cell < 8.0) {
          magColor = "#ff3fff";
        } else {
          magColor = "#9f3f9f";
        }
        return magColor;
      }

      const eventos = "{{eventos|safe}}";
      const tableData = [];

      ("{%for evento in eventos%}");
      var row = [
        "{{evento.time}}",
        "{{evento.mag}}",
        "{{evento.lat}}",
        "{{evento.lon}}",
      ];
      tableData.push(row);
      ("{%endfor%}");
      const grid = new gridjs.Grid({
        columns: [
          {
            name: "Fecha y hora (Centro)",
            width: "50%",
          },
          {
            name: "Magnitud",
            formatter: (cell) => {
              const color = getMagColor(cell);
              return gridjs.html(
                `<span style="font-size: 18px; color: ${color}">${cell}</span>`
              );
            },
            attributes: (cell, row) => {
              if (cell) {
                return {
                  onclick: () =>
                    centerMap(row._cells[2].data, row._cells[3].data),
                  style: "cursor: pointer",
                };
              }
            },
          },
          {
            name: "lat",
            hidden: true,
          },
          {
            name: "lon",
            hidden: true,
          },
        ],
        style: {
          table: {
            "text-align": "center",
            "white-space": "nowrap",
          },
          th: {
            "font-size": "13px",
          },
        },
        sort: true,
        pagination: true,
        data: tableData,
      });

      grid.render(document.getElementById("tableWrapper"));

      $("#datepicker")
        .datepicker({
          format: "yyyy-mm-dd",
          todayHighlight: true,
          autoclose: true,
        })
        .on("hide", function (e) {
          const fecha = $(this).datepicker("getFormattedDate");
          if (fecha !== "") {
            window.location.href = "/date/" + fecha;
          }
        });

      $("#datepicker").datepicker("setDate", new Date());
      // Espera a que se cargue el DOM

      // Crea el elemento iframe
      const iframe = document.createElement("iframe");
      iframe.src = "{{ url_for('static', filename='mapa.html') }}";
      iframe.classList.add("map-iframe");

      // Agrega el iframe al contenedor
      const container = document.getElementById("map-iframe");
      container.appendChild(iframe);

      function centerMap(lat, lon) {
        // Get the 'window' object of the iFrame
        const mapWindow = iframe.contentWindow;
        console.log(mapWindow);
        let keys = Object.keys(mapWindow);
        // Folium seems to generate a random code for the map object, so I just
        // looked for a property of the window object starting with 'map_'
        let mapObjKey = keys.filter((name) => name.startsWith("map_"))[0];
        const mapObj = mapWindow[mapObjKey];
        mapObj.flyTo([lat, lon], 6);
      }
    </script>
  </body>
</html>
